# DAT210x - Programming with Python for DS

## Module2 - Lab5

Import and alias Pandas:

In [2]:
import pandas as pd
import numpy as np

As per usual, load up the specified dataset, setting appropriate header labels.

In [4]:
# .. your code here ..
df = pd.read_csv('Datasets/census.data', names = ['education', 'age', 'capital-gain', 'race', 'capital-loss', 'hours-per-week', 'sex', 'classification'])
df[df == 0] = np.nan
df

,education,age,capital-gain,race,capital-loss,hours-per-week,sex,classification
0,Bachelors,39,2174,White,NaN,40,Male,<=50K
1,Bachelors,50,?,White,NaN,13,Male,<=50K
2,HS-grad,38,?,White,NaN,40,Male,<=50K
3,11th,53,?,Black,NaN,40,Male,<=50K
4,Bachelors,28,0,Black,NaN,40,Female,<=50K
5,Masters,37,0,White,NaN,40,Female,<=50K
6,9th,49,0,Black,NaN,16,Female,<=50K
7,HS-grad,52,0,White,NaN,45,Male,>50K
8,Masters,31,14084,White,NaN,50,Female,>50K
9,Bachelors,42,5178,White,NaN,40,Male,>50K
10,Some-college,37,0,Black,NaN,80,Male,>50K
11,Bachelors,30,0,Asian-Pac-Islander,NaN,40,Male,>50K
12,Bachelors,23,0,White,NaN,30,Female,<=50K
13,7th-8th,34,0,Amer-Indian-Eskimo,NaN,45,Male,<=50K
14,HS-grad,25,0,White,NaN,35,Male,<=50K
15,HS-grad,32,0,White,NaN,40,Male,<=50K
16,11th,38,0,White,NaN,50,Male,<=50K
17,Masters,43,0,White,NaN,45,Female,>50K
18,Doctorate,40,0,White,NaN,60,Male,>50K
19,HS-grad,54,0,Black,NaN,20,Female,<=50K
20,9th,35,0,Black,NaN,40,Male,<=50K
21,11th,43,0,White,2042.0,40,Male,<=50K
22,HS-grad,59,0,White,NaN,40,Female,<=50K
23,Bachelors,56,0,White,NaN,40,Male,>50K
24,HS-grad,19,0,White,NaN,40,Male,<=50K
25,Some-college,54,0,Asian-Pac-Islander,NaN,60,Male,>50K
26,HS-grad,39,0,White,NaN,80,Male,<=50K
27,HS-grad,49,0,White,NaN,40,Male,<=50K
28,Some-college,20,0,Black,NaN,44,Male,<=50K
29,Bachelors,45,0,White,1408.0,40,Male,<=50K
...,...,...,...,...,...,...,...,...
29506,HS-grad,30,0,White,NaN,55,Male,<=50K
29507,10th,32,0,White,NaN,40,Male,<=50K
29508,Some-college,22,0,White,NaN,40,Male,<=50K
29509,HS-grad,31,0,White,NaN,40,Female,<=50K
29510,HS-grad,29,0,White,NaN,35,Female,<=50K
29511,Bachelors,35,0,White,NaN,55,Female,>50K
29512,Bachelors,30,0,Asian-Pac-Islander,NaN,99,Female,<=50K
29513,Doctorate,34,0,White,NaN,60,Male,>50K
29514,Bachelors,54,0,Asian-Pac-Islander,NaN,50,Male,>50K
29515,Some-college,37,0,White,NaN,39,Female,<=50K
29516,12th,22,0,Black,NaN,35,Male,<=50K
29517,Bachelors,34,0,White,NaN,55,Female,>50K
29518,HS-grad,30,0,Black,NaN,46,Male,<=50K
29519,Bachelors,38,15020,Black,NaN,45,Female,>50K
29520,Doctorate,71,0,White,NaN,10,Male,>50K
29521,HS-grad,45,0,White,NaN,40,Female,<=50K
29522,HS-grad,41,0,Black,NaN,32,Female,<=50K
29523,HS-grad,72,0,White,NaN,25,Male,<=50K
29524,Masters,31,0,Other,NaN,30,Female,<=50K
29525,HS-grad,43,0,White,NaN,40,Male,<=50K
29526,Some-college,43,0,White,NaN,40,Female,<=50K
29527,Some-college,43,0,White,NaN,50,Male,<=50K
29528,10th,32,0,Amer-Indian-Eskimo,NaN,40,Male,<=50K
29529,Masters,32,0,Asian-Pac-Islander,NaN,11,Male,<=50K
29530,Masters,53,0,White,NaN,40,Male,>50K
29531,Some-college,22,0,White,NaN,40,Male,<=50K
29532,HS-grad,40,0,White,NaN,40,Male,>50K
29533,HS-grad,58,0,White,NaN,40,Female,<=50K
29534,HS-grad,22,0,White,NaN,20,Male,<=50K
29535,HS-grad,52,15024,White,NaN,40,Female,>50K

Excellent.

Now, use basic pandas commands to look through the dataset. Get a feel for it before proceeding!

Do the data-types of each column reflect the values you see when you look through the data using a text editor / spread sheet program? If you see `object` where you expect to see `int32` or `float64`, that is a good indicator that there might be a string or missing value or erroneous value in the column.

In [5]:
print (df.dtypes)

education          object
age                 int64
capital-gain       object
race               object
capital-loss      float64
hours-per-week      int64
sex                object
classification     object
dtype: object

Try use `your_data_frame['your_column'].unique()` or equally, `your_data_frame.your_column.unique()` to see the unique values of each column and identify the rogue values.

If you find any value that should be properly encoded to NaNs, you can convert them either using the `na_values` parameter when loading the dataframe. Or alternatively, use one of the other methods discussed in the reading.

In [9]:
print (df.education.unique())
# education categories: ['Bachelors' 'HS-grad' '11th' 'Masters' '9th' 'Some-college' '7th-8th' 'Doctorate' '5th-6th' '10th' '1st-4th' 'Preschool' '12th']
education_ordered = ['Preschool', '1st-4th', '5th-6th', '7th-8th', '9th', '10th', '11th', '12th', 'HS-grad', 'Some-college', 'Bachelors', 'Masters', 'Doctorate']
df.education = df.education.astype("category", ordered = True, categories = education_ordered).cat.codes

['Bachelors' 'HS-grad' '11th' 'Masters' '9th' 'Some-college' '7th-8th'
 'Doctorate' '5th-6th' '10th' '1st-4th' 'Preschool' '12th']

Look through your data and identify any potential categorical features. Ensure you properly encode any ordinal and nominal types using the methods discussed in the chapter.

Be careful! Some features can be represented as either categorical or continuous (numerical). If you ever get confused, think to yourself what makes more sense generally---to represent such features with a continuous numeric type... or a series of categories?

In [8]:
# .. your code here ..
# Categorial nominal features below (these are nominal becuase there is no ordering here):
#print df.race.unique()
# race categories: ['White' 'Black' 'Asian-Pac-Islander' 'Amer-Indian-Eskimo' 'Other']
df = pd.get_dummies(df, columns=['race'])
print (df.sex.unique())
# sex categories: ['Male' 'Female']
df = pd.get_dummies(df, columns=['sex'])
print (df.classification.unique())
# classification categories: ['<=50K' '>50K']
df = pd.get_dummies(df, columns=['classification'])

['Male' 'Female']
['<=50K' '>50K']

Lastly, print out your dataframe!

In [10]:
print (df)
print ("The number of columns now in the dataframe:", len(df.columns))

       education  age capital-gain  capital-loss  hours-per-week  \
0             10   39         2174           NaN              40
1             10   50            ?           NaN              13
2              8   38            ?           NaN              40
3              6   53            ?           NaN              40
4             10   28            0           NaN              40
5             11   37            0           NaN              40
6              4   49            0           NaN              16
7              8   52            0           NaN              45
8             11   31        14084           NaN              50
9             10   42         5178           NaN              40
10             9   37            0           NaN              80
11            10   30            0           NaN              40
12            10   23            0           NaN              30
13             3   34            0           NaN              45
14             8   25            0           NaN              35
15             8   32            0           NaN              40
16             6   38            0           NaN              50
17            11   43            0           NaN              45
18            12   40            0           NaN              60
19             8   54            0           NaN              20
20             4   35            0           NaN              40
21             6   43            0        2042.0              40
22             8   59            0           NaN              40
23            10   56            0           NaN              40
24             8   19            0           NaN              40
25             9   54            0           NaN              60
26             8   39            0           NaN              80
27             8   49            0           NaN              40
28             9   20            0           NaN              44
29            10   45            0        1408.0              40
...          ...  ...          ...           ...             ...
29506          8   30            0           NaN              55
29507          5   32            0           NaN              40
29508          9   22            0           NaN              40
29509          8   31            0           NaN              40
29510          8   29            0           NaN              35
29511         10   35            0           NaN              55
29512         10   30            0           NaN              99
29513         12   34            0           NaN              60
29514         10   54            0           NaN              50
29515          9   37            0           NaN              39
29516          7   22            0           NaN              35
29517         10   34            0           NaN              55
29518          8   30            0           NaN              46
29519         10   38        15020           NaN              45
29520         12   71            0           NaN              10
29521          8   45            0           NaN              40
29522          8   41            0           NaN              32
29523          8   72            0           NaN              25
29524         11   31            0           NaN              30
29525          8   43            0           NaN              40
29526          9   43            0           NaN              40
29527          9   43            0           NaN              50
29528          5   32            0           NaN              40
29529         11   32            0           NaN              11
29530         11   53            0           NaN              40
29531          9   22            0           NaN              40
29532          8   40            0           NaN              40
29533          8   58            0           NaN              40
29534          8   22            0           NaN              20
29535          8   52        15024           NaN              40

       race_Amer-Indian-Eskimo  race_Asian-Pac-Islander  race_Black  \
0                            0                        0           0
1                            0                        0           0
2                            0                        0           0
3                            0                        0           1
4                            0                        0           1
5                            0                        0           0
6                            0                        0           1
7                            0                        0           0
8                            0                        0           0
9                            0                        0           0
10                           0                        0           1
11                           0                        1           0
12                           0                        0           0
13                           1                        0           0
14                           0                        0           0
15                           0                        0           0
16                           0                        0           0
17                           0                        0           0
18                           0                        0           0
19                           0                        0           1
20                           0                        0           1
21                           0                        0           0
22                           0                        0           0
23                           0                        0           0
24                           0                        0           0
25                           0                        1           0
26                           0                        0           0
27                           0                        0           0
28                           0                        0           1
29                           0                        0           0
...                        ...                      ...         ...
29506                        0                        0           0
29507                        0                        0           0
29508                        0                        0           0
29509                        0                        0           0
29510                        0                        0           0
29511                        0                        0           0
29512                        0                        1           0
29513                        0                        0           0
29514                        0                        1           0
29515                        0                        0           0
29516                        0                        0           1
29517                        0                        0           0
29518                        0                        0           1
29519                        0                        0           1
29520                        0                        0           0
29521                        0                        0           0
29522                        0                        0           1
29523                        0                        0           0
29524                        0                        0           0
29525                        0                        0           0
29526                        0                        0           0
29527                        0                        0           0
29528                        1                        0           0
29529                        0                        1           0
29530                        0                        0           0
29531                        0                        0           0
29532                        0                        0           0
29533                        0                        0           0
29534                        0                        0           0
29535                        0                        0           0

       race_Other  race_White  sex_Female  sex_Male  classification_<=50K  \
0               0           1           0         1                     1
1               0           1           0         1                     1
2               0           1           0         1                     1
3               0           0           0         1                     1
4               0           0           1         0                     1
5               0           1           1         0                     1
6               0           0           1         0                     1
7               0           1           0         1                     0
8               0           1           1         0                     0
9               0           1           0         1                     0
10              0           0           0         1                     0
11              0           0           0         1                     0
12              0           1           1         0                     1
13              0           0           0         1                     1
14              0           1           0         1                     1
15              0           1           0         1                     1
16              0           1           0         1                     1
17              0           1           1         0                     0
18              0           1           0         1                     0
19              0           0           1         0                     1
20              0           0           0         1                     1
21              0           1           0         1                     1
22              0           1           1         0                     1
23              0           1           0         1                     0
24              0           1           0         1                     1
25              0           0           0         1                     0
26              0           1           0         1                     1
27              0           1           0         1                     1
28              0           0           0         1                     1
29              0           1           0         1                     1
...           ...         ...         ...       ...                   ...
29506           0           1           0         1                     1
29507           0           1           0         1                     1
29508           0           1           0         1                     1
29509           0           1           1         0                     1
29510           0           1           1         0                     1
29511           0           1           1         0                     0
29512           0           0           1         0                     1
29513           0           1           0         1                     0
29514           0           0           0         1                     0
29515           0           1           1         0                     1
29516           0           0           0         1                     1
29517           0           1           1         0                     0
29518           0           0           0         1                     1
29519           0           0           1         0                     0
29520           0           1           0         1                     0
29521           0           1           1         0                     1
29522           0           0           1         0                     1
29523           0           1           0         1                     1
29524           1           0           1         0                     1
29525           0           1           0         1                     1
29526           0           1           1         0                     1
29527           0           1           0         1                     1
29528           0           0           0         1                     1
29529           0           0           0         1                     1
29530           0           1           0         1                     0
29531           0           1           0         1                     1
29532           0           1           0         1                     0
29533           0           1           1         0                     1
29534           0           1           0         1                     1
29535           0           1           1         0                     0

       classification_>50K
0                        0
1                        0
2                        0
3                        0
4                        0
5                        0
6                        0
7                        1
8                        1
9                        1
10                       1
11                       1
12                       0
13                       0
14                       0
15                       0
16                       0
17                       1
18                       1
19                       0
20                       0
21                       0
22                       0
23                       1
24                       0
25                       1
26                       0
27                       0
28                       0
29                       0
...                    ...
29506                    0
29507                    0
29508                    0
29509                    0
29510                    0
29511                    1
29512                    0
29513                    1
29514                    1
29515                    0
29516                    0
29517                    1
29518                    0
29519                    1
29520                    1
29521                    0
29522                    0
29523                    0
29524                    0
29525                    0
29526                    0
29527                    0
29528                    0
29529                    0
29530                    1
29531                    0
29532                    1
29533                    0
29534                    0
29535                    1

[29536 rows x 14 columns]
The number of columns now in the dataframe: 14

In [11]:
df[["education"]]

       education
0             10
1             10
2              8
3              6
4             10
5             11
6              4
7              8
8             11
9             10
10             9
11            10
12            10
13             3
14             8
15             8
16             6
17            11
18            12
19             8
20             4
21             6
22             8
23            10
24             8
25             9
26             8
27             8
28             9
29            10
...          ...
29506          8
29507          5
29508          9
29509          8
29510          8
29511         10
29512         10
29513         12
29514         10
29515          9
29516          7
29517         10
29518          8
29519         10
29520         12
29521          8
29522          8
29523          8
29524         11
29525          8
29526          9
29527          9
29528          5
29529         11
29530         11
29531          9
29532          8
29533          8
29534          8
29535          8

[29536 rows x 1 columns]

In [14]:
type(df.education)

pandas.core.series.Series